.links{
    float:right;
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:blue;
    display: flexbox;
    flex-direction: row;
    flex:auto;
}
.container-nav-wrapper-header{
    margin:2px;
    border:2px;
    padding:1px;
}